	<section id="method" class="wrapper">
		<div class="container-shadow top"></div>
		<div id="method-inner" class="container inner">
			<div class="title main">
				<h2>Caranya?</h2>
			</div> <!-- .title -->
			<div class="row">
				<figure>
					<div class="image"><img src="{{ theme:image_url file= "coke/method_step1.png" }}"/></div>
					<figcaption>
						<h3>step 1</h3>
						<div class="text">
							Kamu cukup beli 2 botol COCA-COLA/FANTA/SPRITE ukuran 390ml di Alfamart & Indomaret terdekat.
						</div> <!-- .text -->
					</figcaption>
				</figure>
				<figure>
					<div class="image"><img src="{{ theme:image_url file= "coke/method_step2.png" }}"/></div>
					<figcaption>
						<h3>step 2</h3>
						<div class="text">
							Kamu akan mendapatkan kode unik dan kode transaksi (khusus pembelian di Alfamart) yang tertera dalam struk
							belanja kamu.
						</div> <!-- .text -->
					</figcaption>
				</figure>
				<figure>
					<div class="image"><img src="{{ theme:image_url file= "coke/method_step3.png" }}"/></div>
					<figcaption>
						<h3>step 3</h3>
						<div class="text">
							Masukkan kode unik dan kode transaksi (khusus pembelian di Alfamart) yang tertera di struk belanja kamu di
							kolom yang tersedia di https://waktunyacokebreak.coca-cola.co.id
						</div> <!-- .text -->
					</figcaption>
				</figure>
			</div> <!-- .row -->
			
		</div> <!-- #method-inner -->
	</section> <!-- #method -->
