	<footer>
		<div id="footer-inner" class="container">
			<div class="row">
				<div id="logo">
					<a href="#"><img src="{{ theme:image_url file= "coke/logo-red.png" }}"	 /></a>
				</div> <!-- #logo -->
				<nav id="bottom">
					<ul>
						<li><a href="{{ url:site}}">beranda</a></li>
						<li><a href="{{ url:site uri="register"}}">daftar</a></li>
						<li><a href="{{ url:site uri="cara-mengikuti-kompetisi"}}#page">syarat dan ketentuan</a></li>
						<li><a href="http://www.coca-cola.co.id/id/kebijakan-privasi/" target="_blank">kebijakan privasi</a></li>
					</ul>
				</nav> <!-- #top -->
				<div id="copyright">
					2016 The Coca-Cola Company, all rights reserved
					<span>
						“COCA-COLA, Botol Kontur COCA-COLA dan Rasakan Momennya™ adalah merek-merek dagang milik The Coca-Cola Company”
					</span>
				</div> <!-- #copyright -->
			</div> <!-- .row -->
		</div> <!-- #footer-inner -->
	</footer>

	{{ theme:js file="main.min.js" }}
	{{ theme:js file="input.js" }}
	{{ theme:js file="functions.js" }}

</body>

</html>
