		<div id="hero">
			<div id="content" class="container">
				<div class="row">
					<div class="panel">
						<div class="title">
							<h1>Saatnya COKE Breakpackers bareng teman dekatmu!</h1>
						</div> <!-- .title -->
						<div class="text">
							#WaktunyaCOKEBreak dengan beli 2 botol
							COCA-COLA/FANTA/SPRITE ukuran 390ml dan raih
							kesempatan menangin liburan ke Kuala Lumpur, Malaysia bareng teman dekatmu!
						</div> <!-- .text -->
						<div class="button-action-wrapper">
							<a href="{{ url:site uri="register"}}" class="button rounded border">jadi backpacker</a>
						</div> <!-- .button-action-wrapper -->
					</div> <!-- .panel -->
				</div> <!-- .row -->
			</div> <!-- #content -->
			<div class="image" role="img">
				<div class="inner"></div>
			</div> <!-- .image -->
		</div> <!-- #hero -->
