		<div id="hero">			
			<div id="background-img" class="page-header">
				<div id="banner-content" class="container">
					<div class="heading">
						<h1>COKE Breakpackers</h1>
					</div> <!-- .heading -->
					<div class="text">
						Masih muda tuh waktu yang pas buat seru-seruan menjelajah sesuatu yang baru, kayak pergi liburan ke tempat-tempat yang seru. Kebayang dong gimana serunya liburan bareng sahabat kamu dan kamu juga punya kesempatan buat kenalan sama orang baru? Apalagi kalo seru-seruannya sambil nikmatin COCA-COLA dingin yang cocok banget buat nemenin break time dan seru-seruan kamu!<br/><br/>
						Mulai dari 3 Oktober -  30 November 2016, COCA-COLA dan Tune Hotel bakal ngajak kamu buat ikutan kompetisi seru. Caranya? Gampang banget! Beli 2 botol COCA-COLA/FANTA/SPRITE ukuran 390ml di Alfamart/Indomaret terdekat dan daftarin data diri kamu, abis itu submit kode transaksi (khusus pembelian di Alfamart) dan kode unik yang tertera di struk belanja kamu!<br/><br/>
						Pemenang akan diundi pada 31 Oktober dan 30 November 2016 oleh pihak COCA-COLA sebagai pemenang. Para pemenang yang terpilih akan mendapatkan hadiah paket liburan seru bareng satu (1) sahabat kamu ke Kuala Lumpur, Malaysia!<br/><br/>
						Yuk, buruan beli COCA-COLA/FANTA/SPRITE ukuran 390ml di Alfamart/Indomaret terdekat sekarang!
					</div> <!-- .text -->
					<div class="button-action-wrapper">
						<a href="{{ url:site uri="register"}}" class="button rounded border">jadi backpacker</a>
					</div> <!-- .button-action-wrapper -->
				</div> <!-- #banner-content -->
			</div> <!-- #background-img -->
		</div> <!-- #hero -->
