	<section id="floating" class="wrapper sub">
		<div class="container-shadow top"></div>
		<div id="floating-inner" class="container">
			<div class="title main">
				<h2>Masukkan kode kamu di sini:</h2>
			</div> <!-- .title -->
		</div> <!-- #floating-inner -->
	</section> <!-- #floating -->

	<section id="code" class="wrapper sub">
		<div id="code-inner" class="container inner">
			<div class="row">
				{{ code:code_page }}
			</div> <!-- .row -->
		</div> <!-- $code-inner -->
		<div class="container-shadow bottom"></div>
	</section> <!-- #code -->