<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <title> Coca-Cola </title>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="robots" content="" />

  <!-- Favicon -->
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ theme:image_url file= "lib/favicon/apple-icon-57x57.png" }}" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ theme:image_url file= "lib/favicon/apple-icon-114x114.png" }}" />
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ theme:image_url file= "lib/favicon/apple-icon-72x72.png" }}" />
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ theme:image_url file= "lib/favicon/apple-icon-144x144.png" }}" />
  <link rel="apple-touch-icon-precomposed" sizes="60x60" href="{{ theme:image_url file= "lib/favicon/apple-icon-60x60.png" }}" />
  <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{ theme:image_url file= "lib/favicon/apple-icon-120x120.png" }}" />
  <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{ theme:image_url file= "lib/favicon/apple-icon-76x76.png" }}" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ theme:image_url file= "lib/favicon/apple-icon-152x152.png" }}" />
  <link rel="icon" type="image/png" href="{{ theme:image_url file= "lib/favicon//android-icon-192x192.png" }}" sizes="192x192" />
  <link rel="icon" type="image/png" href="{{ theme:image_url file= "lib/favicon/favicon-96x96.png" }}" sizes="96x96" />
  <link rel="icon" type="image/png" href="{{ theme:image_url file= "lib/favicon/favicon-32x32.png" }}" sizes="32x32" />
  <link rel="icon" type="image/png" href="{{ theme:image_url file= "lib/favicon/favicon-16x16.png" }}" sizes="16x16" />
  <meta name="theme-color" content="#da532c" />
  <meta name="application-name" content="&nbsp;"/>
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta name="msapplication-TileImage" content="{{ theme:image_url file= "lib/favicon/ms-icon-144x144.png" }}" />

  <!-- end Favicon -->

  {{ theme:css file="main.css" }}
</head>

<body>

  <header>
    <div id="header-inner" class="container">
      <div class="row">
        <div id="logo">
          <a href="{{ url:site }}"><img src="{{ theme:image_url file= "coke/logo-red.png" }}"   /></a>
        </div> <!-- #logo -->
        <a href="javascript:void(0)" id="toggle-nav">toggle navigation</a>

        <!-- NAVIGATION WIDE SCREEN -->
        <nav id="top">
          <ul>
            <li><a href="{{ url:site}}">cara mengikuti kompetisi</a></li>
            <li><a href="{{ url:site uri="login"}}">masuk</a>/<a href="{{ url:site uri="register"}}">daftar</a></li>
          </ul>
        </nav> <!-- #top -->
        <!-- END NAVIGATION WIDE SCREEN -->
      </div> <!-- .row -->

      <!-- NAVIGATION MOBILE -->
      <nav id="mobile">
        <ul>
          <li><a href="{{ url:site }}">beranda</a></li>
          <li><a href="{{ url:site uri="login"}}">masuk</a>/<a href="{{ url:site uri="register"}}">daftar</a></li>
          <li><a href="{{ url:site }}">cara mengikuti kompetisi</a></li>
          <li><a href="{{ url:site uri="syarat-dan-ketentuan"}}">syarat dan ketentuan</a></li>
          <li><a href="{{ url:site uri="kebijakan-privasi"}}">kebijakan privasi</a></li>
        </ul>
      </nav> <!-- #mobile -->
      <!-- END NAVIGATION MOBILE -->

    </div> <!-- #header-inner -->

    {{ if { url:segments segment="1" } == '' }}
    {{ theme:partial name="home" }}
    {{ elseif { url:segments segment="1" } == 'cara-mengikuti-kompetisi'}}
    {{ theme:partial name="howto" }}
    {{ endif }}

    <script type="text/javascript">
      var BASE_URL = '{{ url:base }}';
      var SITE_URL = '{{ url:site }}';
      var URI_STRING = '{{ url:uri_string }}';
      var tokens ={<?php echo '\''.$this->security->get_csrf_token_name().'\':\''.$this->security->get_csrf_hash().'\''; ?>};
    </script>
  </header>
