input[type=number] {
    -moz-appearance:textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.error {
  color: #f00;
}
section#register #email-register .column input.transparent{
  text-transform: none;
}
input.button.rounded.border.primary {
    cursor: pointer;
}
