<a class="dropdown-toggle">
	<span class="icon-bars-button">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</span>
</a>
<div class="site-nav-bar">
	<a class="ketupat-home" href="/">{{ asset:image file="bg-menu-home.png" }}</a>
	<a class="ketupat-mobile" href="/">{{ asset:image file="bg-menu-mobile.png" }}</a>
	<a class="ketupat-top" href="/">{{ asset:image file="ketupat-top.png" }}</a>
	<a class="logo" href="/">{{ asset:image file="logo-coke.png" }}</a>
	<a class="ketupat-bottom" href="/">{{ asset:image file="ketupat-bottom.png" }}</a>
	<div class="title">
    	{{ theme:partial name="mobile-menu" }}
		<h1>#MERIAH</h1>
		<h2>BERSAMA</h2>
		<div class="white-divider"></div>
	</div>
	<div class="contents">
		<p>
		Sambung tali silaturahmi bersama keluarga dan sahabat dengan COCA-COLA di Ramadan kali ini. Kirim momen seru kamu melalui video dan dapatkan kesempatan menjadi bagian dari video #MeriahBersama COCA-COLA. Raih juga kesempatan untuk mendapatkan hadiah menarik!
		</p>
		<a class="btn-ikut" href="{{ url:site uri="gabung"}}">cara ikutan</a>
	</div>

</div>