<div class="popup" id="search-not-found">
	<div class="search-wrapper">
		<div class="popup-wrapper">
			<a class="close-btn" href="javascript:void(0)" onclick="$('#search-not-found').fadeOut('slow'); return false;"></a>
			<div class="title">PENCARIAN</div>
			<div class="popup-copy">Video yang anda cari tidak di temukan</div>		
		</div>
	</div>
</div>

<div class="popup" id="hapus-account-form">
	<div class="ortu-wrapper">
		<div class="popup-wrapper">
			<a class="close-btn" href="javascript:void(0)" onclick="$('#hapus-account-form').fadeOut('slow'); return false;"></a>
			<div class="title">PERHATIAN</div>
			<div class="popup-copy">Saya tidak mengijinkan, hapus akun anak saya</div>	
			<a href="javascript:void(0);" class="button-confirm-parent"><div class="button">OK</div></a>
		</div>
	</div>
</div>

<div class="popup" id="message-register">
	<div class="ortu-wrapper">
		<div class="popup-wrapper">
			<a class="close-btn" href="javascript:void(0)" onclick="$('#message-register').fadeOut('slow'); return false;"></a>
			<div class="title">PERHATIAN</div>
			<div class="popup-copy">				
				{{ message_register }}		
			</div>	
			
		</div>
	</div>
</div>

<div class="popup" id="ok-account-form">
	<div class="ortu-wrapper ijin">
		<div class="popup-wrapper">
			<a class="close-btn" href="javascript:void(0)" onclick="$('#ok-account-form').fadeOut('slow'); return false;"></a>
			<div class="title">PERHATIAN</div>
			<div class="popup-copy">Saya mengijinkan anak saya bergabung di Coca-Cola Indonesia</div>	
			<a href="javascript:void(0);" class="button-confirm-parent"><div class="button">OK</div></a>		
		</div>
	</div>
</div>

<div class="popup" id="error-register">
	<div class="ortu-wrapper ijin">
		<div class="popup-wrapper">
			<a class="close-btn" href="javascript:void(0)" onclick="$('#error-register').fadeOut('slow'); return false;"></a>
			<div class="title">MOHON MAAF</div>
			<div class="popup-copy">Anda tidak bisa melanjutkan pendaftaran karena usia tidak mencukupi syarat dan ketentuan yang berlaku</div>	
			<a href="javascript:void(0);" onclick="$('#error-register').fadeOut('slow'); return false;" class="button-confirm-parent"><div class="button">OK</div></a>		
		</div>
	</div>
</div>

<div class="popup" id="video-preview">
	<div class="popover-video">
		<div class="popup-wrapper">
			<a class="boxclose" href="javascript:void(0);" onclick="$('.popup').fadeOut('slow'); if ($('#video-preview .video').find('video').length){ $('#video-preview .video').find('video').each(function(){if(typeof($('.video-wrapper .video').find('video').get(0).pause) != 'undefined'){ $('.video-wrapper .video').find('video').get(0).pause(); } delete(this); $(this).remove();}); }  $('#video-preview .video').html(''); return false;"></a>
			<div class="video-wrapper">
				<div class="video"><img class="show-video" src="img/gal1.jpg" /></div>
				<div class="meta-fav">
		        	<div class="meta-pict-fav">
		            	<img id="meta-pict-fav" src="img/avatar.jpg"/>
		                <div class="box-tp-fav">
		                    <h1>Yudistira hariadi</h1>
		                    <h2>bukber bersama sahabat</h2>
		                </div>
		            </div>
		            <div class="social-fav">
		            	<a href="javascript:void(0);" class="fb-link">{{asset:image file="facebook.png" }}</a>
		            	<a href="https://twitter.com/share" class="twitter-link twitter share" link_url="">{{asset:image file="twitter.png" }}</a>
		            </div>
		            <div class="clear"></div>
				</div>
			</div>
            <a href="javascript:void(0);" class="btn-prev">{{asset:image file="prev.png" }}</a>
            <a href="javascript:void(0);" class="btn-next">{{asset:image file="next.png" }}</a>
        </div>
	</div>
</div>
   
<div class="popup" id="video-preview-fb">
	<div class="popover-video">
		<div class="popup-wrapper">
			<a class="boxclose" href="javascript:void(0);" onclick="tutupFB()"></a>
			<div class="video-wrapper">
				<div class="video">
                    <div id="fb-root"></div>
                    <div class="fb-video" data-allowfullscreen="true" data-href="">
                        <div class="fb-xfbml-parse-ignore"></div>
                    </div>
                </div>
				<div class="meta-fav">
		        	<div class="meta-pict-fav">
		            	<img id="meta-pict-fav" src="img/avatar.jpg"/>
		                <div class="box-tp-fav">
		                    <h1>Yudistira hariadi</h1>
		                    <h2>bukber bersama sahabat</h2>
		                </div>
		            </div>
		            <div class="social-fav">
		            	<a href="javascript:void(0);" class="fb-link">{{asset:image file="facebook.png" }}</a>
		            	<a href="https://twitter.com/share" class="twitter-link twitter share" link_url="">{{asset:image file="twitter.png" }}</a>
		            </div>
				</div>
			</div>
            <a href="javascript:void(0);" class="btn-prev">{{asset:image file="prev.png" }}</a>
            <a href="javascript:void(0);" class="btn-next">{{asset:image file="next.png" }}</a>
		</div>    
	</div>
</div>  

<!-- <div class="popup" id="video-preview-fb">
	<div class="nano">
		<div class="nano-content">
			<div class="popover-video">
				<div class="popup-wrapper">
					<a class="boxclose" href="javascript:void(0);" onclick="tutupFB()"></a>
					<div class="video-wrapper">
						<div class="video">
		                    <div id="fb-root"></div>
		                    <div class="fb-video" data-allowfullscreen="true" data-href="">
		                        <div class="fb-xfbml-parse-ignore"></div>
		                    </div>
		                </div>
						<div class="meta-fav">
				        	<div class="meta-pict-fav">
				            	<img id="meta-pict-fav" src="img/avatar.jpg"/>
				                <div class="box-tp-fav">
				                    <h1>Yudistira hariadi</h1>
				                    <h2>bukber bersama sahabat</h2>
				                </div>
				            </div>
				            <div class="social-fav">
				            	<a href="javascript:void(0);" class="fb-link">{{asset:image file="facebook.png" }}</a>
				            	<a href="https://twitter.com/share" class="twitter-link twitter share" link_url="">{{asset:image file="twitter.png" }}</a>
				            </div>
						</div>
					</div>
		            <a href="javascript:void(0);" class="btn-prev">{{asset:image file="prev.png" }}</a>
		            <a href="javascript:void(0);" class="btn-next">{{asset:image file="next.png" }}</a>
				</div>    
			</div>
		</div> 
	</div>
	
</div> -->
   
<div class="popup" id="video-preview-tw">
	<div class="popover-video">
		<div class="popup-wrapper">
			<a class="boxclose" href="javascript:void(0);" onclick="$('.popup').fadeOut('slow'); $('#video-preview-tw .video').html(''); return false;"></a>
			<div class="video-wrapper">
				<div class="video" id="container">&nbsp;</div>
				<div class="meta-fav">
		        	<div class="meta-pict-fav">
		            	<img id="meta-pict-fav" src="img/avatar.jpg"/>
		                <div class="box-tp-fav">
		                    <h1>Yudistira hariadi</h1>
		                    <h2>bukber bersama sahabat</h2>
		                </div>
		            </div>
		            <div class="social-fav">
		            	<a href="javascript:void(0);" class="fb-link">{{asset:image file="facebook.png" }}</a>
		            	<a href="https://twitter.com/share" class="twitter-link twitter share" link_url="">{{asset:image file="twitter.png" }}</a>
		            </div>
		            <div class="clear"></div>
				</div>
			</div>
            <a href="javascript:void(0);" class="btn-prev">{{asset:image file="prev.png" }}</a>
            <a href="javascript:void(0);" class="btn-next">{{asset:image file="next.png" }}</a>
		</div>  
	</div>  
</div>

<script type="text/javascript">
	window.twttr = (function (d,s,id) {
	 var t, js, fjs = d.getElementsByTagName(s)[0];
	if (d.getElementById(id)) return; js=d.createElement(s); js.id=id;
	js.src="https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
	return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
	}(document, "script", "twitter-wjs"));
	
	function tutupFB() {
		$('.popup').fadeOut('slow');
		$('#video-preview-fb iframe').attr('src', '');
		return false;
	}
</script>